body{
    margin: 0;
    height: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5d5d;
}

a{
    text-decoration: none;
}

p {
    line-height: 22px;
}

li {
    margin: 2px 0;
}

header{
    height: 50px;
    background: url(img/4.jpg);
    background-size: 100%;
}
header h3{
    margin: 0;
    padding: 13px;
    display: inline-block;
    color: #FFF;
    text-shadow: 0px 0px 7px #000;
}
header .flag-group{
    float: right;
    margin: 10px;
}

header .flag-group .flag{
    display: inline-block;
    cursor: pointer;
    padding: 3px 7px;
}

.menu {
    text-align: center;
    padding: 10px 0px 9px;
    box-shadow: 0px 0px 4px -1px #000;
}
.menu .menu-item{
    padding: 10px 20px;
    color: #5f5d5d;
    cursor: pointer;
}
.menu .menu-item:hover{
    background: #dadada;
}

@media (max-width: 515px) {
	.menu .menu-item {
        display: block;
    }
}

.content {
    max-width: 996px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.content div {
    margin: 10px;
}

.content .home .text{
    width: 60%;
    text-align: justify;
    display: inline-block !important;
}
.content .home .img{
    display: inline-block !important;
    float: left;
}

@media (max-width: 660px) {
	.content .home .text {
        width: 95%;
    }
    .content .home .img{
        display: block !important;
        text-align: center;
        float: none;
    }
}

.content .home .img img{
    width: 200px;
    border-radius: 50%;
}

.content .about .download-pdf{
    display: block;
    text-align: center;
    color: #5f5d5d;
    border-top: 1px solid #dadada;
    padding-top: 10px;
    font-size: 30px;
}

.content .contact{
    font-size: 20px;
    text-align: center;
}

.content .contact div{
    margin: 10px 0;
}

.content .contact img{
    width: 18px;
}
.content .contact .phone-icon{
    width: 18px;
}
.content .contact .whatsapp-icon{
    width: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 7px;
    background: #fff;
}